@import "../../../Theme/mainStyle.scss";

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  img.logo {
    width: 80px;
  }

  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 80px;
  }
}
