$primary: #a61f30;
$darkPrimary: #700009;
$lightPrimary: #dd5459;
$lightGrey: #f5f5f6;
$darkGrey: #e1e2e1;
$dark: #000000;
$smallFont: 14px;
$normalFont: 1em;
$mediumFont: 24px;
$bigFont: 45px;
