@import "../Theme/mainStyle.scss";

.page {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;

  .header-page {
    width: 13vw;
    height: 100vh;
    background-color: #fff;
    padding: 2em 0;
    border-right: 6px solid $primary;
  }
  .wrapper-content {
    width: 100%;
    height: 100%;
  }
}
